/* INDEX */
/* Tamañano logo en nav */
.navbar-brand img {
    height: 100px;
}

/* color de fondo de sitio web */
.background {
    background-color: rgb(0, 0, 2);
}

/* color de fondo nav */
.background-nav {
    background-color: rgb(3, 28, 250);
}

/* margen superior de carrusel de index */
.container {
    margin-top: 50px;
}

/* seccion de informacion del dia (foto mas info) de index */
.info {
    margin-top: 50px;
    margin-block: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    color: white;
}
.info img {
    height: 300px;
}

/* Tabla posiciones */
.tabla-posiciones {
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-block: 50px;
}

/* SENIOR */
.row {
    color: white;
}
.card-body {
 padding: 0;
}